.container {
    max-width: 1440px;
    height: 85vh;
    margin: 0 auto;
    padding: 36px 16px;
    display: flex;
    align-items: center;
    flex-direction: row;

    @include responsive() {
        flex-direction: column;
        height: auto;
    }
}

.container-item-1 {
    max-width: 576px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.spiderman {
    width: 150%;
    transform: translate3d(-170px,0,0);

    @include responsive() {
        width: 100%;
        transform: translate3d(0,0,0);
    }
}

.btn {
    display: inline-block;
    padding: 12px 32px;
    border-radius: 3px;
    margin: 16px 0;

    background: linear-gradient(225deg, #EA1D22 0%, #B31317 100%);
    border-radius: 3px;
    transform: skewX(-10deg);
    text-transform: uppercase;
    
    position: relative;
    transition: .7s ease;
    
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: -2px;
        left: -2px;
        opacity: 0;
        width: 30%;
        height: 70%;
        transition: .7s ease;
        
        border-radius: 3px;
        border-top: 3px solid #fff;
        border-left: 3px solid #fff;
    }
    
    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: -2px;
        right: -2px;
        opacity: 0;
        width: 30%;
        height: 70%;
        transition: .7s ease;
        
        border-radius: 3px;
        border-bottom: 3px solid #fff;
        border-right: 3px solid #fff;
    }
    
    &:hover {
        &::before, &::after {
            opacity: 1;
        }
        transform: skewX(-10deg) scale(1.05);
    }
}

.btn-secondary {
    display: inline-block;

    padding: 10px 32px;
    margin-left: 14px;
    border-radius: 3px;

    transform: skewX(-10deg);
    transition: .7s ease;

    text-transform: uppercase;
    background: transparent;

    position: relative;

    border: 2px solid $red;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: -1px;
        left: -1px;

        z-index: -1;
        transition: .7s ease;
        width: 0%;
        height: 103%;

        background: linear-gradient(225deg, #EA1D22 0%, #B31317 100%);
    }

    &:hover {
        &::after {
            width: 102%;
        }
    }
}

.flex {
    display: flex;
}

.w-auto {
    width: auto;
}

.align-items-center {
    align-items: center;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @include responsive() {
        height: 150%;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        display: block;

        background: linear-gradient(101.47deg, #0A0C10 26.38%, rgba(10, 12, 16, 0.8) 50.07%, #0A0C10 73.17%);
    }
}

.bg-loader {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(225deg, $red 0%, $red-dark 100%);
    overflow: hidden;
}